.App {

}


header.App-header {
    border: 3px solid green;
}

nav {
    border: 3px solid black;
}

div.explain {
    border: 3px solid red;
}
/* button */
div.sign-up-modal {
    border: 3px solid yellow;
}
form.sign-up {
    border: 3px solid grey;
}
div.sign-up-modal-content{
    border: 3px solid blue;

}
div.homepage-temp {
    border: 3px solid purple;
}
header.login-header {
    border: 3px solid burlywood;
}
div.profile-settings-page-temp {
    border: 3px solid brown;
}
header.profile-header {
    border: 3px solid black;
}
div.profile-setting-page-content {
    border: 3px solid greenyellow;
}
div.my-pets-page-temp {
    border: 3px solid #fff00f;
}
div.card-container {
    border: 3px solid black;
}
div.pet-page {
    border: 3px solid pink;
}
div.search-page-temp {
    border: 3px solid khaki;
} 
div.admin-page-adding-pets {
    border: 3px solid saddlebrown;
}
div.admin-page-dashboard {
    border: 3px solid fuchsia;
} 
